ol li {
    background-color: yellow;
}

ol li:nth-child(2n+0) {
    color: green;
}

ol li:nth-child(2n+1) {
   text-transform: capitalize;
}

h1, h2, h3 {
    color: red;
}

h1 em, h2 em, h3 em {
    font-size:  40px;
    border: 1px solid black;
}

li {
    font-size: 20px;
}

li em {
    font-weight: bold;
}

ul:nth-child(6) li:nth-child(-n+3) {
    color: blue;
}